

body {
    background-image: linear-gradient(rgba(252, 93, 85) , rgba(250, 64, 132, 0.5));
    font-family: 'Roboto', sans-serif;    
    color: white;
    font-size: 1.125rem;
}

a {
    color: white;
    text-decoration: none;    
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;  
}


header {
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;

}



main {
   
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    

}

.card1 {
    background-image: url(images/image-background-card1-b.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
    border-radius: 10px;
    

}.card2 {
    background-image: url(images/image-background-card2-b.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
    border-radius: 10px;

}.card3 {
    background-image: url(images/image-background-card3-b.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
    border-radius: 10px;
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.250);
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
    
}

.herobox2 {
   flex: 1;
   
    
}

.herobox2 img {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.250);
}


h1 {
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.750);
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;

}

.cards p{
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top:10px;
   
   
}

.cards i {
    font-size: 100px;
    padding-top: 30px;
}

.mybutton {
    background-color: white;
    font-family: 'Playfair Display', serif;
    color: #FA4083 ;
    padding: 11px 25px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.250);
    
}

.mybutton:hover {
    background-color: rgb(145, 145, 145);
    transition-duration: 1s;
}



.navbutton {
    font-family: 'Playfair Display', serif;
    background:none;
    border: 2px solid white;      
    font-family: 'Playfair Display', serif;   
    padding: 11px 25px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;  
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.250);
} 

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}

.tbox :last-child {
    font-size: 0.8rem;
    padding-left: 30px;
}