body {
  font-family: "montserrat";
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: white;
  position: relative;
  z-index: 0;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "montserrat";
  font-weight: bold;
  color: #fff;
}

h3 {
  font-family: "montserrat";
  font-weight: bold;
}

/* navigation bar */

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "montserrat";
}

/* download buttons */

.btn-dwld {
  margin: 1rem 0.25rem;
}

/* image  */

.img {
  width: 20%;
  transform: rotate(15deg);
  position: absolute;
}

/* features section  */

#features {
  padding: 10% 15%;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.icon {
  color: #ef8172;
  padding: 2rem;
}

.icon:hover {
  color: #ff4c68;
}

p {
  color: rgb(36, 36, 36);
}

/* testimonials section  */
#testimonials {
  text-align: center;
  background-color: #ef8172;
}

.imgTestimonial {
  border-radius: 100%;
  width: 15%;
  margin: 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
  text-align: center;
}

.imgPress {
  width: 15%;
  margin: 10px 15px;
}

/* pricing section  */

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-widht: 1028px) {
  #title {
    text-align: center;
  }

  .img {
    position: static;
    transform: rotate(0);
  }
}

/* Call to action */

#cta {
  background-color: #ff4c68;
  padding: 10% 20%;
}

#footer {
  background-color: #fff;
  padding: 5% 15%;
  text-align: center;
}

.txt-cta {
  color: #fff;
  font-size: 3rem;
  font-family: 'montserrat';
  padding: 3% 15%;
  text-align: center;
}

.btn-cta {
  text-align: center;
   
}

.social {
  text-align: center;
}

.social-icon {
  margin: 2rem 1rem;
}